.App {
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

.section-content {
  max-width: 950px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 65px;
  padding-bottom: 10px;
  
}

.skills, .intro, .contact {
  max-width: 950px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 80px;
  color: #515769;
  text-align: justify;
  border-bottom: 1px solid #edf0f2;
  min-height: 350px;
}

.skills {
  padding-bottom: 100px
}

.intro {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 30px;
  align-items: center;
}

p {
  margin-bottom: 15px;
}

.container {
  background: #fafafa;
 
}

.mypicture {

}
.me {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 100%;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #3ab795;
}


.sectionsix {
  height: 4px;
  background: #fafafa;
}

.contact {
   border-bottom: none;
}

@media (max-width: 480px) {
.intro {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}  
.mypicture {
  align-self: center;
}
.skills {
  padding: 0 30px 30px;
}
.section-content {
  padding-right: 30px;
  padding-left: 30px;
}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .flippy {
    padding: 10px 20px;

  }
}
