textarea {
  max-height: 250px;
  }
  
input, textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 6px;
  margin: 0;
  border: 2px solid lightgray;
  font-family: 'Hind', sans-serif;
  }
  
form {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  }
  

button, input[type="reset"] {
  color: white;
  padding: 15px;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 125px;
  font-family: 'Hind', sans-serif;
  }
  
button:hover {
  background-color: #252934
  }

input[type="reset"]:hover {
  background: transparent;
  color: red;
  border: 0.5px solid #660;
  }

input[type="reset"] {
    background-color:#252934
  }

button {
  background-color:  #3ab795;
  }
  
.form-input {
  margin: 3px 0;
  }
  
.contact {
  display: flex;
  flex-direction: column;
}

.paragraph {
  margin-bottom: 35px;
  color: #515769;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  form {
    width:100%;
  }
}

@media (max-width: 480px) {
.contact {
  padding: 0 30px 20px;
}  

}