.article {
  min-width: 200px;
  height: fit-content;  
  display: grid;
  margin: 60px auto;
  padding: 0 30px;
  box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
  transition: .25s;
}
  
    
.button-primary:hover {
  transform: translate(10px, 0);
  color: #04C2C9;
}


.card-header {
  min-height: 350px;
  width: 100%;
  background-size:cover;
  color:#fff;
  background-repeat: no-repeat;
  background-size: 100%;
  justify-self: center;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color:#fff;
  width:75%;
  justify-self: center;
}

.explore-button {
  width:75%;
  justify-self: center;
}


.body-content {
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 1.8;
  color: #515769;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color: #252934;
  font-size: 15px;
  transition:.25s;
  
  i{
    padding-right:4px;
  }

}
.header-container {
  min-width: 350px;
}

.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
}

.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

.hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}


.hovereffect a.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
}

.hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
  }

.hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
}
